In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
patient_csv = "patient.csv"
patient_df = pd.read_csv(patient_csv)

route_csv = "route.csv"
route_df = pd.read_csv(route_csv)

time_csv = "time.csv"
time_df = pd.read_csv(time_csv)

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/ELT_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

['patient', 'route', 'time']

In [5]:
patient_df.to_sql(name='patient', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_patient"
DETAIL:  Key (patient_id)=(1) already exists.

[SQL: INSERT INTO patient (patient_id, sex, birth_year, country, region, "group", infection_reason, infection_order, infected_by, contact_number, confirmed_date, released_date, deceased_date, state) VALUES (%(patient_id)s, %(sex)s, %(birth_year)s, %(country)s, %(region)s, %(group)s, %(infection_reason)s, %(infection_order)s, %(infected_by)s, %(contact_number)s, %(confirmed_date)s, %(released_date)s, %(deceased_date)s, %(state)s)]
[parameters: ({'patient_id': 1, 'sex': 'female', 'birth_year': 1984.0, 'country': 'China', 'region': 'filtered at airport', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 45.0, 'confirmed_date': '1/20/2020', 'released_date': '2/6/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 2, 'sex': 'male', 'birth_year': 1964.0, 'country': 'Korea', 'region': 'filtered at airport', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 75.0, 'confirmed_date': '1/24/2020', 'released_date': '2/5/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 3, 'sex': 'male', 'birth_year': 1966.0, 'country': 'Korea', 'region': 'capital area', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 16.0, 'confirmed_date': '1/26/2020', 'released_date': '2/12/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 4, 'sex': 'male', 'birth_year': 1964.0, 'country': 'Korea', 'region': 'capital area', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 95.0, 'confirmed_date': '1/27/2020', 'released_date': '2/9/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 5, 'sex': 'male', 'birth_year': 1987.0, 'country': 'Korea', 'region': 'capital area', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 31.0, 'confirmed_date': '1/30/2020', 'released_date': '3/2/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 6, 'sex': 'male', 'birth_year': 1964.0, 'country': 'Korea', 'region': 'capital area', 'group': None, 'infection_reason': 'contact with patient', 'infection_order': 2.0, 'infected_by': 3.0, 'contact_number': 17.0, 'confirmed_date': '1/30/2020', 'released_date': '2/19/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 7, 'sex': 'male', 'birth_year': 1991.0, 'country': 'Korea', 'region': 'capital area', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 9.0, 'confirmed_date': '1/30/2020', 'released_date': '2/15/2020', 'deceased_date': None, 'state': 'released'}, {'patient_id': 8, 'sex': 'female', 'birth_year': 1957.0, 'country': 'Korea', 'region': 'Jeollabuk-do', 'group': None, 'infection_reason': 'visit to Wuhan', 'infection_order': 1.0, 'infected_by': None, 'contact_number': 113.0, 'confirmed_date': '1/31/2020', 'released_date': '2/12/2020', 'deceased_date': None, 'state': 'released'}  ... displaying 10 of 4812 total bound parameter sets ...  {'patient_id': 4811, 'sex': None, 'birth_year': None, 'country': 'Korea', 'region': None, 'group': None, 'infection_reason': None, 'infection_order': None, 'infected_by': None, 'contact_number': None, 'confirmed_date': '3/2/2020', 'released_date': None, 'deceased_date': None, 'state': 'isolated'}, {'patient_id': 4812, 'sex': None, 'birth_year': None, 'country': 'Korea', 'region': None, 'group': None, 'infection_reason': None, 'infection_order': None, 'infected_by': None, 'contact_number': None, 'confirmed_date': '3/2/2020', 'released_date': None, 'deceased_date': None, 'state': 'isolated'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [6]:
route_df.to_sql(name='route', con=engine, if_exists='append', index=False)

In [7]:
time_df.to_sql(name='time', con=engine, if_exists='append', index=False)

In [5]:
aggregate_df = pd.read_sql_query('select A.*,B.* from patient A LEFT JOIN route B ON A.patient_id = B.patient_id', con=engine)

aggregate_df.to_csv('aggregate.csv')

aggregate_df

,patient_id,sex,birth_year,country,region,group,infection_reason,infection_order,infected_by,contact_number,...,region,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,None,visit to Wuhan,1.0,NaN,45.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,45.0,2020-01-20,2020-02-06,None,released
1,1,female,1984.0,China,filtered at airport,None,visit to Wuhan,1.0,NaN,45.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,45.0,2020-01-20,2020-02-06,None,released
2,2,male,1964.0,Korea,filtered at airport,None,visit to Wuhan,1.0,NaN,75.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,75.0,2020-01-24,2020-02-05,None,released
3,2,male,1964.0,Korea,filtered at airport,None,visit to Wuhan,1.0,NaN,75.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,75.0,2020-01-24,2020-02-05,None,released
4,3,male,1966.0,Korea,capital area,None,visit to Wuhan,1.0,NaN,16.0,...,capital area,0.0,visit to Wuhan,1.0,0.0,16.0,2020-01-26,2020-02-12,None,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,2795,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4997,3328,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4998,2502,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4999,2824,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
5000,4237,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None

In [22]:
duplicates = []

route_unique = []

patient_unique = []

for x in route_df.columns:
    if x in patient_df.columns:
        duplicates.append(x)

for y in route_df.columns:
    if y not in patient_df.columns:
        route_unique.append(y)

for z in patient_df.columns:
    if z not in route_df.columns:
        patient_unique.append(z)
        
duplicates = ['A.' + x + ',' for x in duplicates]

patient_unique = ['A.' + y + ',' for y in patient_unique]

route_unique = ['B.' + z + ',' for z in route_unique]

select_string = ''

for x in duplicates:
    select_string = select_string + x
    
for y in patient_unique:
    select_string = select_string + y
    
for z in route_unique:
    select_string = select_string + z

select_string = select_string[:-1]

In [8]:
routeAndPatient_df = pd.read_sql_query(f'select {select_string} from patient A LEFT JOIN route B ON A.patient_id = B.patient_id ', con=engine)

routeAndPatient_df.to_csv('routeAndPatient.csv')

['A.patient_id,',
 'A.sex,',
 'A.birth_year,',
 'A.country,',
 'A.region,',
 'A.group,',
 'A.infection_reason,',
 'A.infection_order,',
 'A.infected_by,',
 'A.contact_number,',
 'A.confirmed_date,',
 'A.released_date,',
 'A.deceased_date,',
 'A.state,']

['A.patient_id,',
 'A.sex,',
 'A.birth_year,',
 'A.country,',
 'A.region,',
 'A.group,',
 'A.infection_reason,',
 'A.infection_order,',
 'A.infected_by,',
 'A.contact_number,',
 'A.released_date,',
 'A.deceased_date,',
 'A.state,']